* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--bg-color: #edf2ff;
	--text-color: #00082f;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--bg-color);
	color: var(--text-color);
}

/* Style for Dark Theme */
/*
body.dark {
	--bg-color: #14213d;
	--text-color: #ffffff;
}
*/

.container {
	text-align: center;
	width: 300px;
	margin: 60px auto;
}

img {
	width: 100%;
}

.avatar {
	border: 4px solid #4263eb;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	padding: 3.7px;
}

h1 {
	font-size: 32px;
	margin-top: 24px;
	margin-bottom: 8px;
}

.username {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
	opacity: 0.8;
}

ul {
	list-style: none;
	margin: 48px 0;
	padding: 16px;
}

ul li a {
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4263eb;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;

	margin-bottom: 16px;
	border-radius: 6px;

	transition: background 500ms;
}

ul li a:hover {
	background-color: #364fc7;
}

a {
	text-decoration: none;
}

footer {
	font-weight: 400;
	font-size: 12;
	opacity: 0.9;
}
